@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}

#app {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-align: center;

  /* -moz-osx-font-smoothing: grayscale; */

  /* color: #2c3e50; */

  /* margin-top: 60px; */
}

:root {
  --main-color: #fff;
  --primary-color: #202020;
  --secondary-color: #e62429;
  --primary-text-color: #fff;
  --secondary-text-color: #b69c6a;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  height: 100vh;
  background: var(--primary-color);
}

.header {
  background-color: var(--primary-color);
  margin-bottom: 5em;
}

.header__title {
  color: var(--primary-text-color);
  font-weight: 400;
  text-transform: uppercase;
  animation-duration: 3s;
  animation-name: title;
}

@keyframes title {
  0% {
    color: black;
    margin-bottom: -40px;
  }
  30% {
    letter-spacing: 25px;
    margin-bottom: -40px;
  }
  85% {
    letter-spacing: 8px;
    margin-bottom: -40px;
  }
}

.main {
  background-color: var(--primary-color);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2em;
}

.main__button {
  background-color: transparent;
  border: 2px solid;
  border-radius: 0.6em;
  align-self: center;
  justify-self: center;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  border-color: var(--secondary-color);
  color: var(--secondary-text-color);
  box-shadow: 0 0 40px 40px var(--secondary-color) inset,
    0 0 0 0 var(--secondary-color);
  transition: all 150ms ease-in-out;
  width: 3em;
  height: 3em;
}

.main__button:hover {
  box-shadow: 0 0 10px 0 var(--secondary-color) inset,
    0 0 10px 4px var(--secondary-color);
}

.main__resultsHero {
  background-color: var(--secondary-text-color);
  border-radius: 1em;
  width: 150px;
  justify-self: center;
  box-shadow: 1em 1em 1em;
}

.main__resultsVillain {
  background-color: var(--secondary-text-color);
  border-radius: 1em;
  width: 150px;
  justify-self: center;
  box-shadow: -1em 1em 1em;
}

.footer {
  background-color: var(--primary-color);
}

.footer img {
  margin-top: 8em;
  height: 3.5em;
}
